body {
    color: #eee;
    background: #121212;
    font: 150% system-ui;
    font-family: Arial;
    text-align: center;
  }

p {
  text-align: center;
  }

main {
  text-align: center;
  }

footer {
      position: "fixed; bottom: 0; width:100%; text-align: center"
}
  a[href^="http"] {
    padding-left: 19px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  a[href*="en.pronouns.page"]{
    background-image: url(https://www.google.com/s2/favicons?domain=pronouns.page);
  }

  a[href*="https://music.apple.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=https://music.apple.com);
  }

  a[href*="https://bsky.app"]{
    background-image: url(https://www.google.com/s2/favicons?domain=bsky.app);
  }

  a[href*="tech.lgbt"]{
    background-image: url(https://www.google.com/s2/favicons?domain=tech.lgbt);
  }


  a[href*="x.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=x.com);
  }

  
  a[href*="letterboxd.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=letterboxd.com);
  }

  a[href*="github.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=github.com);
  }

  
  a[href*="tiktok.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=tiktok.com);
  }
  
  a[href*="spotify.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=spotify.com);
  }
  
  a[href*="last.fm"]{
    background-image: url(https://www.google.com/s2/favicons?domain=last.fm);
  }
  
  a[href*="steamcommunity.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=steamcommunity.com);
  }

  
  a[href*="developer.mozilla.org"]{
    background-image: url(https://www.google.com/s2/favicons?domain=developer.mozilla.org);
  }

  a[href*="css-tricks.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=css-tricks.com);
  }

  a[href*="scoresaber.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=scoresaber.com);
  }

  a[href*="beatleader.xyz"]{
    background-image: url(https://www.google.com/s2/favicons?domain=beatleader.xyz);
  }

  a[href*="osu.ppy.sh"]{
    background-image: url(https://www.google.com/s2/favicons?domain=osu.ppy.sh);
  }
  
  a[href*="hitbloq.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=hitbloq.com);
  }

  a[href*="spacehey.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=spacehey.com);
  }

  a[href*="howlongtobeat.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=howlongtobeat.com);
  }

  a[href*="soundcloud.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=soundcloud.com);
  }

  a[href*="discogs.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=discogs.com);
  }

  a[href*="instagram.com"]{
    background-image: url(https://www.google.com/s2/favicons?domain=instagram.com);
  }

